
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>description</th>
                <th>price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of prods">
                <td>{{prod.id}}</td>
                <td>{{prod.title}}</td>
                <td>{{prod.description}}</td>
                <td>{{prod.price}}</td>
            </tr>
        </tbody>
    </table>
</div>
